# Mandatory assignment 2: Solow growth model with human capital
Vision: Programming is more than writing code. The ultimate goal of the projects in this course
is that you learn to formulate a programming problem of your own choice, and find your own way
to solve it, and present the results. The bullets below are minimum requirements, but otherwise it is
very much up to you, what yo

* **Step 1: Package import:** The first part of code in our project is the use of libraries with essential packages of panda, numpy and glob which is respectively for data structuring and especially arrays and pathnames. On top of that we import statsmodel

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from scipy.stats import trim_mean, kurtosis
from scipy.stats.mstats import mode, gmean, hmean
from IPython.display import display
import statsmodels.api as sm
import statsmodels.formula.api as smf

* **Step 2: Datapath and data processing:** Our data p

In [13]:
#Set datapath 
datapath = "Dataset/"
data = pd.read_excel(datapath + "APPENDIX_TableA_SECOND_ED-7.xls")

#Remove unnecessary rows
data=data[14:-18]
#Remove unnecessary columns
data = data.iloc[:, :-3]

#Mark/select first row
new_header = data.iloc[0]
#all data below first row
data = data[1:] 
#use all data below first row and set column names equal new_header
data.columns = new_header

data.rename(columns = {list(data)[0]:"Country"}, inplace=True)
                                                    
data.head()

14,Country,Code,y03,y60,gy,sK,sH,u,isi,n,Grade,In Sample of 65
15,Luxembourg,LUX,1.73518,0.966286,0.0313231,0.255914,-,-,0.9,0.00836579,A,0
16,USA,USA,1,1,0.017709,0.189912,0.115346,12.049,0.97333,0.0160803,A,1
17,Ireland,IRL,0.971402,0.423321,0.0370255,0.209641,0.125219,9.351,0.76672,0.0100189,A,1
18,Norway,NOR,0.968075,0.761374,0.0232946,0.283681,0.103698,11.848,0.87272,0.0122046,A,1
19,Belgium,BEL,0.906815,0.66365,0.024969,0.224658,0.101057,9.338,0.86572,0.00450328,A,1

We now merge data on land per worker and Oil per worker on the above dataset

In [14]:
datapath1 = "Dataset/"
data1 = pd.read_excel(datapath1 + "Natural_resources_the_world_bank.xlsx")

data3 = pd.merge(data, data1, on="Code")

data3.head(100)

,Country_x,Code,y03,y60,gy,sK,sH,u,isi,n,Grade,In Sample of 65,Country_y,Land,Subsoil
0,Luxembourg,LUX,1.73518,0.966286,0.0313231,0.255914,-,-,0.9,0.00836579,A,0,Luxembourg,5600.667027,1988.652571
1,USA,USA,1,1,0.017709,0.189912,0.115346,12.049,0.97333,0.0160803,A,1,United States,4268.678035,8651.206146
2,Ireland,IRL,0.971402,0.423321,0.0370255,0.209641,0.125219,9.351,0.76672,0.0100189,A,1,Ireland,11973.825063,367.476245
3,Norway,NOR,0.968075,0.761374,0.0232946,0.283681,0.103698,11.848,0.87272,0.0122046,A,1,Norway,6372.783293,83250.768105
4,Belgium,BEL,0.906815,0.66365,0.024969,0.224658,0.101057,9.338,0.86572,0.00450328,A,1,Belgium,3986.629803,0.000000
5,Austria,AUT,0.880988,0.554981,0.0284557,0.24048,0.0951991,8.354,0.86356,0.00244029,A,1,Austria,5163.836552,1007.211843
6,France,FRA,0.838556,0.622969,0.0246202,0.230761,0.0950759,-,0.87067,0.0073631,A,1,France,5071.818298,80.680915
7,Netherlands,NLD,0.836797,0.908967,0.0157851,0.241691,0.113188,9.355,0.894,0.0135367,A,1,Netherlands,4552.174485,4223.863318
8,Australia,AUS,0.80454,0.83725,0.0167821,0.243485,0.102077,10.922,0.80978,0.0206104,A,1,Australia,16059.600939,115042.535079
9,Italy,ITA,0.767651,0.546664,0.0256043,0.242707,0.0747032,7.18,0.80767,0.00479002,A,1,Italy,5487.171525,526.645361
10,United Kingdom,GBR,0.765101,0.704924,0.019614,0.174096,0.0935279,9.42,0.85556,0.00516157,A,1,United Kingdom,2230.067654,3005.352140
11,Canada,CAN,0.763214,0.895388,0.0139946,0.225363,0.104855,11.617,0.96578,0.0219901,A,1,Canada,6046.789472,27915.230982
12,Denmark,DNK,0.758843,0.790466,0.0167595,0.222288,0.110791,9.661,0.88089,0.00787857,A,1,Denmark,6339.453345,6917.581122
13,Sweden,SWE,0.709169,0.797899,0.0149674,0.219919,0.0897022,11.414,0.88239,0.00928982,A,1,Sweden,3934.098088,9010.209062
14,Finland,FIN,0.707513,0.537624,0.0240949,0.290734,0.114762,8.302,0.87889,0.00571323,A,1,Finland,4912.882224,2882.734894
15,Spain,ESP,0.686934,0.398271,0.0303858,0.22988,0.096426,7.28,0.79006,0.0107639,B,1,Spain,5503.338983,326.493704
16,Japan,JPN,0.663524,0.299324,0.0362214,0.306238,0.108757,9.467,0.83267,0.00985543,A,1,Japan,1090.534554,42.787534
17,Greece,GRC,0.529648,0.324248,0.0291207,0.250025,0.085807,8.667,0.756,0.00844592,B,1,Greece,9004.549348,1417.025277
18,Portugal,PRT,0.502106,0.30112,0.0295997,0.204656,0.0733833,5.873,0.79456,0.0101361,B,1,Portugal,4098.035995,833.385840
19,"Korea, Rep. Of",KOR,0.497804,0.137489,0.0476314,0.279103,0.107826,10.837,0.66733,0.0255113,B,1,"Korea, Rep.",2114.918689,79.335711
20,Chile,CHL,0.426272,0.477079,0.0150902,0.188578,0.0831129,7.549,0.53428,0.0222531,B,1,Chile,3426.993350,44279.349254
21,Malaysia,MYS,0.412362,0.164365,0.0390999,0.193796,0.0789209,6.8,0.84367,0.0291222,C,1,Malaysia,3910.811365,7894.187770
22,Argentina,ARG,0.357836,0.628708,0.00460214,0.156834,0.0730279,8.829,0.33411,0.0162561,B,1,Argentina,9950.871248,3931.281254
23,Gabon,GAB,0.317001,0.373718,0.0138811,0.0764382,-,-,0.28683,0.0196927,C,0,Gabon,7777.679910,51598.317538
24,South Africa,ZAF,0.311776,0.414482,0.011087,0.0931205,0.0675081,6.138,0.41428,0.0236654,C,1,South Africa,4074.410281,7148.900773
25,Costa Rica,CRI,0.308689,0.463712,0.00824546,0.0842416,0.0721158,6.049,0.54611,0.0337424,C,0,Costa Rica,15217.869431,32.221687
26,Panama,PAN,0.287312,0.235955,0.0222887,0.181787,0.0958403,8.552,0.33445,0.0278914,C,0,Panama,4032.487550,166.681077
27,Uruguay,URY,0.287205,0.477868,0.00586856,0.128291,0.0808806,7.558,0.33739,0.00963914,B,1,Uruguay,11083.746336,222.499044
28,Mexico,MEX,0.274478,0.391283,0.00946336,0.18184,0.0784334,7.229,0.39617,0.032846,C,1,Mexico,5255.636722,5796.781862
29,Dominican Rep.,DOM,0.22945,0.2124,0.0195047,0.104614,0.0573498,4.927,0.25483,0.0319694,C,1,Dominican Republic,2701.102591,1179.550569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,Philippines,PHL,0.124074,0.171869,0.0101308,0.137713,0.109576,8.209,0.28111,0.028618,C,1,Philippines,2544.278754,592.426882
45,Indonesia,IDN,0.122312,0.0865424,0.0257541,0.133396,0.0510353,4.986,0.51961,0.0257346,C,1,Indonesia,3404.360461,3121.857513
46,China,CHN,0.122063,0.0268781,0.0529002,0.248588,-,6.355,0.32033,0.0190955,C,0,China,6210.745184,4555.690486
47,Bolivia,BOL,0.106918,0.193058,0.00396649,0.101427,0.0541871,5.579,0.55733,0.0225311,C,1,Bolivia,7293.389516,3321.809153
48,Pakistan,PAK,0.10179,0.0655453,0.0279455,0.132043,0.031954,3.875,0.2265,0.0251689,C,1,Pakistan,4608.450926,293.523366
49,India,IND,0.0990865,0.0619092,0.0286467,0.104795,0.0557368,5.063,0.30644,0.0195982,C,1,India,2203.924909,1105.407963
50,Cameroon,CMR,0.0963563,0.12642,0.0113936,0.0485593,0.026399,3.54,0.35928,0.0205356,C,1,Cameroon,4335.181839,532.191062
51,Honduras,HND,0.0901925,0.156837,0.00484242,0.124911,0.0394194,4.796,0.38961,0.0309456,C,0,Honduras,4385.847022,222.973865
52,Guinea,GIN,0.0858477,0.179917,0.000501527,0.0738124,-,-,0.35183,0.0237445,C,0,Guinea,3186.111961,1022.394290
53,Zimbabwe,ZWE,0.0798141,0.148843,0.00321611,0.130685,0.0461749,5.354,0.2725,0.0250502,C,1,Zimbabwe,4018.391293,758.548470
54,Cote d`Ivoire,CIV,0.0722428,0.0957546,0.0111565,0.0808962,0.0273603,-,0.31283,0.0352901,C,1,Cote d'Ivoire,5000.407826,635.976535
55,"Congo, Rep. of",COG,0.0515098,0.0706301,0.0103675,0.240632,0.0825012,5.145,0.20733,0.0247221,C,0,"Congo, Rep.",3921.165384,17551.453989
56,Senegal,SEN,0.0464759,0.115284,-0.00341819,0.0560689,0.021622,2.551,0.24333,0.0256308,C,1,Senegal,1754.492059,339.536515
57,Nigeria,NGA,0.0451644,0.0790666,0.00468614,0.060231,0.025904,-,0.214,0.0261399,C,0,Nigeria,12290.988549,7869.635449
58,Nepal,NPL,0.0449113,0.0452321,0.0175434,0.120375,0.0358454,2.428,NaN,0.0188737,C,1,Nepal,3515.462417,0.777872
59,Ghana,GHA,0.0423789,0.0269405,0.0282443,0.128671,0.0535636,3.886,0.38128,0.0262906,C,1,Ghana,7144.481579,1673.073463
60,Mozambique,MOZ,0.0408903,0.045656,0.0151452,0.0299956,0.009497,1.105,0.268,0.0189783,D,0,Mozambique,1296.251017,332.923618
61,Mali,MLI,0.0360455,0.0464607,0.011806,0.0821366,0.0133648,0.876,0.23328,0.0197412,C,1,Mali,6379.581052,956.210036
62,Rwanda,RWA,0.0352552,0.0576948,0.00625425,0.0242046,0.0083859,2.564,0.19339,0.0216606,C,1,Rwanda,2984.822701,59.672258
63,Kenya,KEN,0.0344846,0.0732278,0.000195862,0.111796,0.0326684,4.197,0.31306,0.0326032,C,1,Kenya,5966.892818,24.889730
64,Uganda,UGA,0.0338534,0.0502689,0.00851482,0.026438,0.0146696,3.514,0.26178,0.0268209,D,0,Uganda,5310.278826,0.789320
65,Burkina Faso,BFA,0.0336911,0.0382869,0.0147351,0.0883486,0.0057126,-,0.24917,0.0163967,C,1,Burkina Faso,3023.029399,734.136195
66,Zambia,ZMB,0.0329379,0.0613454,0.00324625,0.33918,0.0287509,5.457,0.23422,0.0247666,C,1,Zambia,3458.895297,4334.872032
67,Chad,TCD,0.0285579,0.0706276,-0.0033489,0.0853354,0.008054,-,0.27702,0.0235343,D,0,Chad,4267.499617,3955.948475
68,Togo,TGO,0.0273329,0.0580199,0.000204393,0.0993611,0.033496,3.334,0.22283,0.0295849,D,0,Togo,2207.945268,1293.949211
69,Niger,NER,0.0268378,0.0720048,-0.00524269,0.0590645,0.007126,1.018,0.257,0.0268625,D,0,Niger,5234.441517,234.873841
70,Tanzania,TZA,0.0259629,0.0287163,0.0153649,0.0489122,0.0069152,2.705,0.27567,0.028053,C,1,Tanzania,3615.963660,360.817101
71,Malawi,MWI,0.0236855,0.0267677,0.014864,0.0966602,0.0118026,3.204,0.25133,0.0257388,C,1,Malawi,2183.072052,4.032440
72,Madagascar,MDG,0.0233448,0.078392,-0.0104619,0.0397042,0.0305962,-,0.238,0.0251383,C,1,Madagascar,2854.081576,137.623953
73,Ethiopia,ETH,0.0230614,0.0263556,0.0146038,0.0358747,0.0140082,9.988,0.19933,0.0216973,C,1,Ethiopia,2538.656631,50.165113

In [16]:
DataDescribe=data3
DataDescribe = DataDescribe.drop(["Code", "In Sample of 65", "u", "isi", "Country_y"], 1)

DataDescribe=DataDescribe[DataDescribe["sH"] != '   -']


DataDescribe["y03"] = DataDescribe.y03.astype(float)
DataDescribe["y60"] = DataDescribe.y60.astype(float)
DataDescribe["gy"] = DataDescribe.gy.astype(float)
DataDescribe["sK"] = DataDescribe.sK.astype(float)
DataDescribe["n"] = DataDescribe.n.astype(float)
DataDescribe["sH"] = DataDescribe.sH.astype(float)
DataDescribe["Land"] = DataDescribe.Land.astype(float)
DataDescribe["Subsoil"] = DataDescribe.Subsoil.astype(float)
#print(DataDescribe.round(decimals=2))

print("")
print("Table 1: Dads")
max =DataDescribe[DataDescribe.y03 == DataDescribe.y03.max()]
display(max.head())

print("")
print("Table 2: sadsaadads ")
min =DataDescribe[DataDescribe.y03 == DataDescribe.y03.min()]
display(min.head())

Table 1: Dads

,Country_x,y03,y60,gy,sK,sH,n,Grade,Land,Subsoil
1,USA,1.0,1.0,0.017709,0.189912,0.115346,0.01608,A,4268.678035,8651.206146

Table 2: sadsaadads

,Country_x,y03,y60,gy,sK,sH,n,Grade,Land,Subsoil
73,Ethiopia,0.023061,0.026356,0.014604,0.035875,0.014008,0.021697,C,2538.656631,50.165113

In [59]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets


print("ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad")

alpha = widgets.FloatSlider(min=0,max=1,step=0.01,value=0.33)
display(alpha)

print("ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad")

beta = widgets.FloatSlider(min=0,max=1,step=0.01,value=0.6)
display(beta)

print("ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad")

epsilon = widgets.FloatSlider(min=0,max=1,step=0.01,value=(1-beta.value-alpha.value)/2)
display(epsilon)

print("ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad")

kilo = widgets.FloatSlider(min=0,max=1,step=0.01,value=(1-beta.value-alpha.value)/2)
display(kilo)

ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad

FloatSlider(value=0.33, max=1.0, step=0.01)

ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad

FloatSlider(value=0.6, max=1.0, step=0.01)

ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad

FloatSlider(value=0.035, max=1.0, step=0.01)

ksjdkadadjkd sdd sdsd sddsssdd ads  dasadad dkajd sdadjadsddsak sd jksdljasjkaa sdasd dasa da a dad adadasaddsaadsadad adsasdas dssaad asasd ad

FloatSlider(value=0.035, max=1.0, step=0.01)

* **Step 3: modelling our equation for growth in GDP:**

We now set up our **augmented Solow model with human capital and natural resources**, which is given by the parameters:

1. $K_t$ is capital per worker
* $L_t$ is labor (with a growth rate on $n$)
* $A_t$ is technology (growing with a rate of $g$)
* $X_t$ is the total amount of land and it does not carry a time subscript since land is in fixed supply
* $R_t$ is the total remaining stock of an exhaustible resource, oil at time t
* $E_t$ is the part of $R_t$ that is used as energy input during periode t (where the exhaustible rate is $s_E$)
* $Y_t = K_t^\alpha H_t^\varphi(A_tL_t)^\beta X^\kappa E_t^\epsilon$ is GDP

We still have the normal framework for a solow model such that **Savings** is a constant fraction of GDP and the production function have a constant return to scale. Moreover, we are going to use the following equations to model our framwork

8. $R_{t+1} = R_t - E_t$
9. $ E_t = s_E R_t$, where $0<s_E<1$

Dividing the production function by $L_t$ on both sides and using equation 9, gives the production function per worker:

10. $y_t = k_t^\alpha h_t^\varphi A_t^\beta (X/L_t)^\kappa ({s_E R_t}/L_t)^\epsilon $

By taking logs on both sides we get:
11. $ln(y_t) = \alpha ln(k_t) +\varphi ln(h_t)+ \beta ln(A_t)- \kappa (ln(L_t)-ln(L_{t-1}))+ \epsilon (((ln(R_t)-ln(R_{t-1}))-(ln(L_t)-ln(L_{t-1}))) = \alpha ln(k_t) +\varphi ln(h_t)+ \beta ln(A_t)- (\kappa+\epsilon) (ln(L_t)-ln(L_{t-1}))+ \epsilon (ln(R_t)-ln(R_{t-1})) $

By combinig equation 8 and 9, we get that $ R_{t+1} = R_t - s_E R_t <=> (R_{t+1}/R_t) = s_E + 1 $, and use that $ln(R_t)-ln(R_{t-1})=-ln(s_E+1) =-s_E$, we get that

13. $ln(y_t) = \alpha ln(k_t) +\varphi ln(h_t)+ \beta ln(A_t)- (\kappa+\epsilon) n- \epsilon s_E $

we know use the standard approximation that logs differences is a growth rate approximation. Therefore, calculate the time differences on both sides which gives:

14. $ln(y_t)-ln(y_{t-1}) = \alpha (ln(k_t)-ln(k_{t-1})) +\varphi (ln(h_t)-ln(h_{t-1}))+ \beta (ln(A_t)-ln(A_{t-1}))- (\kappa+\epsilon) n- \epsilon s_E$

We use the approximation that the gowth rate for output per worker is $g_y$, the growth rate for technology is g, the growth rate for human capital per worker is $g_h$ and the growth rate in capital per worker is $g_k$. This gives us the following equation:

15. $g_y = \alpha g_k +\varphi g_h+ \beta g- (\kappa+\epsilon) n- \epsilon s_E$
 

We know from the solow model that the two capital/output ratios is constant in steady state, which is why we use the approximation that both capital and human capital grow at the same rate as $y_t$: $g_y = g_k =g_h$. This gives us the following model

16. $g_y = \beta / {(1-\alpha-\varphi)} g - {(\kappa+\epsilon)n} / {(1-\alpha-\varphi)} - \epsilon / {(1-\alpha-\varphi)} s_E$

we now use that the solow model with human capital and natural resources exhibit constant return to scale, which gives us

17. $g_y = \beta / {(\beta+\kappa+\epsilon)} g - {(\kappa+\epsilon)n} / {(\beta+\kappa+\epsilon)} - \epsilon / {(\beta+\kappa+\epsilon)} s_E$

We now have our equation 17, which can tell us how large growth rate in GDP each country have depending on the parameters. Therefore, we will first find the parameter values before we continue by finding the growth rate for GDP for different values for growth rate for population and growth rate for technology

* **Step 4: finding parameter values for all parameters that are included in our equation 17:**

We use equation (37) from page 205 in the book "Introducing  Advanced Macroeconomics - Growth and Business Cycles" by Peter Birk SÃ¸rensen and Hans JÃ¸rgen Whitta-Jacobsen and augmenting it with human capital. We then get:

18. $ln(y_t^*) = \beta / {(\beta+\kappa+\epsilon)} ln(A_t) + \epsilon / {(\beta+\kappa+\epsilon)} ln(s_E) + \alpha / {(\beta+\kappa+\epsilon)} [ln(s_K)-ln(n+0.062)]+ \varphi / {(\beta+\kappa+\epsilon)} [ln(s_H)-ln(n+0.062)] + \kappa / {(\beta+\kappa+\epsilon)} ln({X/L_t})+ \epsilon / {(\beta+\kappa+\epsilon)} ln({R_t/L_t}) $

Which gives us the following regression equation:

18. $ln(y_{00}^i) = \gamma_0 + \gamma_1 [ln(s^i_K)-ln(n^i+0.062)]+ \gamma_2 [ln(s^i_H)-ln(n^i+0.062)] + \gamma_3 ln({X/L^i})_{00}+  \gamma_4 ln({R^i/L^i})_{00} $

In [17]:
logy60=np.log(DataDescribe["y60"])
logy03=np.log(DataDescribe["y03"])
logn1 =np.log(DataDescribe["n"]+0.075)
logsK1=np.log(DataDescribe["sK"]) - logn1
logsH1=np.log(DataDescribe["sH"]) - logn1
logland =np.log(DataDescribe["Land"])
logsubsoil =np.log(DataDescribe["Subsoil"]) 

# Fit regression model (using the natural log of one of the regressors)
results = smf.ols("logy03 ~ logsK1 + logsH1 + logland ", data=DataDescribe).fit()

# Inspect the results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 logy03   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.736
Method:                 Least Squares   F-statistic:                     65.15
Date:                Thu, 09 May 2019   Prob (F-statistic):           1.06e-19
Time:                        16:36:42   Log-Likelihood:                -64.006
No. Observations:                  70   AIC:                             136.0
Df Residuals:                      66   BIC:                             145.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.5707      1.195     -2.152      0.035      -4.956      -0.185
logsK1         0.4390      0.179      2.456      0.017       0.082       0.796
logsH1         0.9098      0.140      6.492      0.000       0.630       1.190
logland        0.1459      0.139      1.048      0.298      -0.132       0.424
==============================================================================
Omnibus:                        8.672   Durbin-Watson:                   1.653
Prob(Omnibus):                  0.013   Jarque-Bera (JB):                8.668
Skew:                          -0.856   Prob(JB):                       0.0131
Kurtosis:                       3.203   Cond. No.                         138.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

In [8]:
#Human_capital_effect=-()

population_effect=-((kilo.value+epsilon.value)/(beta.value+kilo.value+epsilon.value))*data["n"]

Extraction_effect=-(epsilon.value/(beta.value+kilo.value+epsilon.value))




print(population_growth)

NameError: name 'population_growth' is not defined

In [ ]:
from ipywidgets import *
import seaborn.apionly as sns
df = sns.load_dataset('iris')
import matplotlib.pyplot as plt

#plot
def plot_image(x):

    data = df

    if x != 'Select':
        xplot = data[x]
        sns.distplot(xplot)
        plt.show()

#define widgets
x = widgets.Dropdown(
        options=df.columns,
        value=df.columns[0],
        description='X'
    )

x.set_title  = 'x'

#assign widgets to tabs
tab_visualise = widgets.HBox([x])

#create tabs
tab_nest = widgets.Tab()
# tab_nest.children = [tab_visualise]
tab_nest.set_title(0, 'Visualise')


#interact function in isolation
f = interactive(plot_image, x = x);
tab_nest.children = [VBox(children = f.children)]
display(tab_nest)

In [2]:
%matplotlib inline
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import geopandas
import geoplot
import geoplot.crs as gcrs
import math
import sqlite3
import datetime as dt
import sqlalchemy
from numpy.random import random
from sqlalchemy import create_engine
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from pandas import DataFrame as df
from scipy.stats import trim_mean, kurtosis
from scipy.stats.mstats import mode, gmean, hmean

In [3]:
DATAPATH = "modelproject/Dataset/APPENDIX_TableA_SECOND_ED-7.xls/"

data_tennis = pd.concat(DATAPATH)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "str"